body {
    font-family: 'Microsoft YaHei', sans-serif;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}
/* 导航栏 */
.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    height: 105px;
    margin: 0 auto;
}
.navbar-inverse {
    height: 0;
    display: none;
}
.navbar-default {
    height: 105px;
    border: none;
    background-color:white;
}
.logo {
    line-height: 50%;
    padding: 0;
    margin-top: 10px;
}
.navbar-default .navbar-nav>.active>a {
    color: #e8420a;
    border-bottom: 4px solid #e8420a;
}
.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    color:black;
    height: 70px;
    background-color:white;
    line-height: 50px;
    margin-left: 75px;
}
.navbar-toggle {
    height: 80px;
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:black;
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 1px;
    margin-top: 15px;
}


/* banner */
#ban{
    background: url("../img/banner.jpg") center;
    height: 365px;
    background-size: cover;
    color:white;
    margin-top: -20px;
    text-align: left;
    border-bottom: 4px solid #e1e1e1;
}
.ban1{
    display: none;
}

.ban2{
    margin-top: 40px;
}

.h1 {
    font-size: 40px;
}

.ban2 span {
    font-size: 28px;
    line-height: 60px;
}

.fast {
    width: 160px;
    height: 50px;
    background-color: #e8420a;
    color:white;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    margin-left: 225px;
}

/* 搜索框 */
.input-group {
    width: 585px;
    height: 50px;
    text-align: center;
    border: 4px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 70px;
    position: relative;   
}

.input-group input {
    height: 50px;
}

.btn-search {
    width: 128px;
    height: 50px;
    border: none;
    background-color: #e8420a;
   
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {    
    width: 150px;
    height: 50px;
    border: none;
    background-color: #f2f3f7;
    color: #666666;
    font-size: 18px;
}

.imgpos {
    padding-right: 5px;
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    font-size: 18px;
    color: #666666;
    border: none;
}


/* 车辆接送 */
.cl0 {
    display: none;
}

.cl1 {
    height: 200px;
    background-color: white;
    margin-top: 20px;
}

.air {
    font-size: 30px;
    color: #1c5080;
    padding-top: 30px;
    padding-left: 20px;
}

.carH {
    padding-top: 50px;
    padding-left: 40px;    
}

.cl1 p {
    font-size: 22px;
    color: #666666;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 20px;
}

.cl1 button {
    width: 160px;
    height: 55px;
    border: 1px solid #b5b5b5;
    background-color: white;
    border-radius: 10px;    
    float: right;
    position: relative;
    bottom: 105px;
    right: 35px;
}

.cl1 button a {
    color: #666666;
    font-size: 25px;
    text-decoration: none;
}
/* 热门路线 */
.rm0 {
    display: none;
}

.rmcard0 {
    display: none;
}

.rmcard1 {
    height: 1070px;
    background-color: white;
    padding-top: 20px;
}

.rmcard1 .rm1 {
    width: 589px;
    height: 80px;
    margin-left: 65px;    
    background-color:white;    
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}

.container {
    padding-right: 0;
}

.rm1 h3 {
    float: left;
    border-left: 4px solid #e8420a;
    color: black;
    font-size: 30px;
    padding-left: 15px;
    margin-top: 30px;
    margin-left: -10px;
}

.row {
    margin-right: 0;
}

.card1 {
    text-align: center;
    margin: 0 auto;
}

.card2 {
    text-align: center;
    margin: 0 auto;
    margin-top: -90px;
}

.rmcard1 .card-img-overlay {
    width: 589px;
    height: 115px;
    text-align: center;
    margin: 0 auto;    
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    bottom: 115px;
    color: white;
}

.rmcard1 .card-img-overlay .text-left {
    font-size: 25px;
    padding-left: 15px;
    padding-top: 12px;
    line-height: 45px;
}
.rm1 .text-left {
    width: 589px;
}
#money {
   font-size: 40px;
}

.rmcard1 .card-img-overlay .text-right {
    font-size: 20px;
    position: relative;
    bottom: 90px;
    right: 20px;
}

.ckgd {
    border: 1px solid #b5b5b5;
    background-color: white;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    position: relative;
    bottom: 90px;
    left: 250px;
}

.ckgd a {
    font-size: 25px;
    color: #666666;
    text-decoration: none;
}
/* 使命与愿景 */
.mav0 {
    display: none;
}

.mav1 {
    background-color: white;
    height: 1700px;
    margin-top: 20px;
    padding-top: 20px;
}

.mav1 .mav3 {
    margin-left: 60px;
    height: 80px;
    background-color: white;
    width: 590px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}

.mav3 h3 {
    float: left;
    border-left: 4px solid #e8420a;
    color: black;
    font-size: 25px;
    padding-left: 15px;
    margin-top: 30px;
}

.mav3 h3 span {
    font-size: 30px;
    margin-right: 15px;
}

.container {
    padding: 0;
}

#mav .card {
    text-align: center;
    margin: 0 auto;
}

#mav .card img {
    width: 590px;
}

#adv  {
    display: none;
}

#ys {
    display: none;
}

.mav1 .tc1 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.mav1 .ln {
    width: 590px;
    font-size: 20px;
    line-height: 35px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.mav1 .smbn {
    width: 590px;
    margin: 0 auto;
}

.mav1 .tc2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.ysqu1 {
    width: 590px;
    margin: 0 auto;
}

.qu {
    height: 150px;
    width: 590px;
    border-bottom: 1px solid #e8e8e8;
}
.qu p {
    font-size: 20px;
    padding-left: 70px;
    margin-top: 41px;
}
#icon11{
    padding-top: 46px;
}
.qu img {
    padding-top: 40px;
    padding-left: 80px;
}
/* 页尾 */
#foot0 {
    background-color: #343235;
    font-size: 20px;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
#foot1 {
    display: none;
}
