body {
    font-family:'Microsoft YaHei', sans-serif;
}
a{
    text-decoration: none;
}
/* 导航栏 */
.navbar{
    min-height: 45px;
    width: 100%;
}

.navbar-inverse{
    height: 45px;
    line-height: 45px;
    background-color: #333333;
    color:white;
    font-size: 20px;
    padding-left: 1050px;
    margin: 0 auto;    
}
.img{
    line-height: 26px;
    margin-bottom: 5px;
}
.shuzi{
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.login{
    padding-left: 45px;
    color:white;
    font-size: 14px;
}
.shu {
    color:white;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
}
.zhuce{
    color:white;
    font-size: 14px;
}

/* 导航按钮 */
.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    height: 80px;
    margin: 0 auto;
}
.navbar-default{
    height: 80px;
    border: none;
    background-color:white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:black;
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 1px;
    margin-top: 15px;
}
.navbar-toggle {
    height: 80px;
    margin: 0;
    border: none;
}
.navbar-brand {
    height: 100%;
}
.navbar-brand>img {
    line-height: 50%;
    padding: 0;
    margin-top: 10px;
}

.navbar-default .navbar-nav>.active>a {
    color: #e8420a;
    background: none;
    border-bottom: 4px solid #e8420a;
}
.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    color:black;
    background-color: white;
    height: 70px;
    line-height: 50px;
    margin-left: 75px;
}


/* banner */
#ban1 {
    background: url("../img/banner.jpg") center;
    height: 450px;
    background-size: cover;
    color: #fff;
    margin-top: -20px;
    text-align: left;
    border-bottom: 4px solid #e1e1e1;
}

#ban1 h1 {
    margin-top: 65px;
    margin-bottom: 35px;
    font-size: 50px;
}

#ban1 .top {
    border-top: 1px solid #fff;
    line-height: 40px;
    padding-top: 15px;
}

#ban1 .down {
    border-bottom: 1px solid #fff;
    line-height: 40px;
    padding-bottom: 15px;
}

#ban1 span {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#ban1 span{
    padding: 0;
}
.ban22 {
    display: none;
}

.fast {
    display: none;
}
/* 搜索框 */
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
    background-color: #f2f3f7;
    width: 150px;
    height: 50px;
    border: none;
    color: #666666;
    font-size: 18px;
}
.input-group {
    text-align: center;
    width: 585px;
    height: 50px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    border: 4px solid rgba(0, 0, 0, 0.5);
}   
.input-group input {
    height: 50px;
}
.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    font-size: 18px;
    color: #666666;
    border: none;
}
.imgpos {
    padding-right: 5px;
}
.btn-search {
    width: 128px;
    height: 50px;
    background-color: #e8420a;
    border: none;
}

/* 车辆接送 */        
#cl{
    background-color: #1c5080;
    color: white;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}
#cl .media-left img {
    margin-left: -15px;
}

#cl .media-body img {
    margin-top: 80px;
}

#cl .media-body p {
    font-size: 26px;
    margin-top: 17px;
}

#cl .container {
    margin-top: 30px;
}

#cl .media-body button {
    width: 180px;
    height: 50px;
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 40px;
}

#cl .media-body button a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

#cl .text-left {
    position: absolute;
    left: 700px;
    top: 630px;
    color: #fff;
}

#cl .text-left h3 {
    font-size: 36px;
}

#cl .text-left h5 {
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
}
.cl1 {
    display: none;
}
/* 热门路线 */ 
#rm h3 {
    font-size: 36px;
    margin-top: 30px;
}

#rm p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#money {
    font-size: 30px;
}

#rmcard .left {
    float: left;
    margin-left: -16px;
}

#rmcard .right {
    float: right;
    margin-right: -16px;
}

#rmcard .right .card-img-overlay {
    position: relative;
    bottom: 90px;
    color: #fff;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
}

#rmcard .right .card {
    margin-bottom: -86px;
}

#rmcard .right .card-title {
    padding-left: 35px;
    text-align: left;
    line-height: 35px;
    padding-top: 10px;
}

#rmcard .left .card1 .card-img-overlay {
    margin-bottom: 4px;
    color: #fff;
    background-color: #000;
    height: 105px;
}

#rmcard .left .card2 .card-img-overlay {
    color: #fff;
    background-color: #000;
    height: 90px;
}

#rmcard .card-img-overlay .card-title {
    font-size: 20px;
}

#rmcard .left .card1 .card-img-overlay .card-title {
    padding-left: 35px;
    text-align: left;
    padding-top: 16px;
    line-height: 35px;
}

#rmcard .left .card2 .card-img-overlay .card-title {
    padding-left: 35px;
    text-align: left;
    padding-top: 10px;
    line-height: 35px;
}
.rm1 {
    display: none;
}

.rmcard1 {
    display: none;
} 
/* 使命与愿景   */
#adv .container .row {
    margin-bottom: 4px;
    width: 1200px;
}

#ys {
    background-color: #1c5080;
    color: white;
    width: 1200px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    margin-left: -30px;
}

#ys img {
    margin-left: -65px;
    margin-top: 45px;
}

#ys .inner {
    margin-left: -125px;
    margin-top: 0px;
}

#ys h3 {
    font-size: 20px;
    margin-top: -65px;
    margin-bottom: 50px;
}

#ys p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 85px;
}

#mav h3 {
    font-size: 36px;
    margin-top: 50px;
}

#mav p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.smbn {
    margin-left: -15px;
}

#ysqu {
    background-color: #1c5080;
    color: white;
    width: 1200px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    margin-left: -30px;
}

#ysqu h3 {
    margin-top: 90px;
    font-size: 26px;
}

#ysqu p {
    font-size: 16px;
    line-height: 36px;
    text-align: left;
    width: 520px;
    margin-top: 40px;
    margin-left: 90px;
}
.mav1 {
    display: none;
}

/* 页尾 */
footer {
    border-top: 0.5px solid #fff;
    font-size: 16px;
    color: white;
    background-color: #000;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 45px;
}

#foot1 {
    margin-top: -5px;
    background-color: #000;
}
#link {
    padding-top: 45px;
    padding-bottom: 45px;
}
.root-l {
    color: #fff;
    font-size: 18px;
}
#link a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#link li {
    text-align: left;
    position: relative;
    bottom: 23px;
}

#link ul {
    margin-left: 100px;
}

#link li {
    margin-left: 15px;
    padding: 0;
}

#link .short li {
    margin-left: 12px;
}
#foot0 {
    display: none;
}